{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>UProgram Math</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.circliful.css' %}">
    <link rel="stylesheet" href="{% static 'css/chelsea.css' %}">
    <link rel="stylesheet" href="{% static 'css/roboto.css' %}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
        {% include "mathtutor/includes/topnav.html" %}
        <div class="container" style="padding-top: 70px; padding-bottom: 30px;">
            <h2 style="font-family: 'Chelsea Market', cursive;">{% block title %}UProgram Math{% endblock %}</h2>
            <div class="row">
            {% if user.is_authenticated %}
                {% include "mathtutor/includes/progressbox.html" %}
            {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
{% include "mathtutor/includes/footer.html" %}
</body>
<script>
        $(document).ready(function () {
            $('.panelHeading').click(function (e) {
                e.stopPropagation();
                    var $sliderContent = $(this).next('.panelBody'),
                        $panelBody = $(this).closest('.panel-group').find('.panel-body');
                        $panelBody.not($sliderContent.slideToggle("400",changeInnerState)).find('.panel-body:visible').addBack().slideUp();
             });
        });
        function changeInnerState() {
                    var $this = $(this);
                    if ($this.is(':hidden')) $this.find('.panel-body').slideUp();
        }
</script>

<!-- Goolge Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68947688-2', 'auto');
  ga('send', 'pageview');

</script>
</html>
