{% extends 'mathtutor/base.html' %}
{% block title %}UProgram Math{% endblock %}
{% block content %}
<div class="col-md-8 col-md-pull-4">
<div class="thumbnails">
<div class="row">
{% for category in categories %}
{% if forloop.counter == 4 %}
</div>
<div class="row">
{% endif %}
    <div class="col-sm-4">
        <a href="{% url 'm:quiz_or_practice' category.key %}" class="Thumb_{{ category.key }} thumbnail" style="font-weight: bold;">{{ category.name }}
            <hr>
        <p style="font-weight: normal; line-height: 1em">Quiz Progress</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ category.results.testCompletion }}" aria-valuemin="0" aria-valuemax="{{ category.results.numberOfQuizes }}" style="width: {{ category.results.testCompletion }}%">
                {{ category.results.passed }}
            </div>
        </div>
        <p style="font-weight: normal">Total Quizzes <span class="badge">{{ category.1.results.numberOfQuizes }}</span></p>{% if category %}</a>{% else %}</span>{% endif %}
    </div>
{% endfor %}
</div>

{% include "mathtutor/includes/reminders.html" %}
</div>
{% endblock %}
