{% extends 'mathtutor/base.html' %}

{% block title %}{{ category.0.name }}{% endblock %}
{% block content %}

<div class="col-md-8 col-md-pull-4">
<!--<h3>Learning or Earning?</h3>-->
<div class="panel-group">
    <div class="panel panel-custom" id="earn">
        <div class="panel-heading panelHeading">
            <span class="panel-title" style="font-size: 1.3rem; font-weight: bold;">
                Click here to take a quiz to be on your way to the next level!
            </span>
        </div>
        <div class="panel-body panelBody" style="display:none;">
            <ul  class="nav nav-pills nav-stacked">
                <li>
                    <a href="{% url 'm:list_quizes' category.0.key %}">
                        Yes! Take me to the Quizzes page
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% if user.student.group != 1 %}
    <div class="panel panel-custom" id="noearn">
        <div class="panel-heading panelHeading">
            <span class="panel-title">
            Want to brush up on the concepts?
            </span>
        </div>
        <div class="panel-body panelBody" style="display:none;">
            Yes! I want to learn from:
            {% if category.0.key != 'gen' and category.0.key != 'amc' %}
                <ul class="nav nav-pills nav-stacked">
                    {% for type in Constants.learnTypes %}
                    <li>
                        <a href="{% url 'm:practice' category.0.key type.key %}">{{ type.name }}</a>
                        </li>
                        {% endfor %}
                </ul>
                {% else %}
                <div class="panel-group">
                    {% for k,v in Constants.categories.items %}
                    {% if k == user.student.group %}
                    {% for row in v %}
            		{% if row.key != 'gen' and row.key != 'amc'  %}
                    <div class='panel panel-custom Thumb_{{ row.key }}' id="Thumb_{{ row.key }}">
                        <div class='panel-heading panelHeading'>
                            <span class='panel-title'>{{ row.name }}</span>
                        </div>
                        <div class='panel-body panelBody' style='display:none;'>
                            <ul class='nav nav-pills nav-stacked'>
                                {% for type in Constants.learnTypes %}
                                <li>
                                    <a href="{% url 'm:practice' row.key type.key %}">{{ type.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
			    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>
</div>
{% endif %}
</div>
</div>
{% endblock %}


<script type="text/javascript">
    $(function () { $('#collapseOne').collapse('show')});
</script>
