{% load staticfiles %}
<div id="footer" class >
    <div class="container">
    <div class="row">
        <div class="container" id="help">
            <p>Need help?  <span><a href="mailto:help@chicagomathgame.org">help@chicagomathgame.org</a></span></p>
            <p>Include in your email:</p>
            <p>FIRST NAME and LAST NAME<br>
                USERNAME<br>
                SCHOOL<br>
                GRADE<br>
                TEACHER</p>
        </div>
    </div>
	<div class="row">
        <div class="container">
            <hr>
        </div>
		<div class="col-sm-4 hidden-xs">
		</div>
		<div class="col-sm-4 hidden-xs">
			<img style="max-height: 100px" src="{% static 'img/uchicago_shield.png' %}">
		</div>
		<div class="col-sm-4 hidden-xs">
		</div>
    </div>
    </div>
</div>
