{% load staticfiles %}
{% with progress=user.student.get_overall_progress %}
<div class="col-md-4 col-md-push-8">
    <div class="progress-box">
        <div class="progress-summary">
            <div class="progress-header">
                <h1 style="font-size: 20px; font-family: 'Chelsea Market', cursive;">Your Progress <small style="font-family: 'Roboto'">{{ user.username }}</small></h1>
                <hr>
            </div>
            <div class="money-earned">
                <h5>Money Earned</h5>
                {% if student.get_quiz_progress.passed < 2 %}
                <div class="alert alert-warning">
                    <p>You need to pass at least 2 quizzes to start earning money</p>
                </div>
                {% else %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ student.get_wage_info.completion }}" aria-valueumin="0" aria-valuemax="100" style="width:{{ student.get_wage_info.completion }}%">
                        ${{ student.get_wage_info.earned|floatformat:2 }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="quizzes-completed">
                <h5>Quizzes Passed</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ student.get_quiz_progress.passed }}" aria-valuemin="0" aria-valuemax="{{ student.get_quiz_progress.numberOfQuizes }}" style="width: {{ student.get_quiz_progress.testCompletion|floatformat:'0' }}%;">
                        {{ student.get_quiz_progress.passed }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
