<div class="alert alert-gray alert-dismissable" style="margin-left: 10px, margin-right: 10px;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Don't see your latest progress?</strong><br><strong>SCORES AND LEVELS USUALLY TAKE 10MIN TO UPDATE ON THE WEBSITE</strong><br>If you passed a quiz but didn't click to the very last quiz screen before leaving, it may take up to 4hrs to udpate. We will make sure to keep track of your progress for you though. If you don't see the results from the last quizzes you passed, just remember what you've done in the last few minutes, try out some other quizzes for now and check back later.
    </div>
</div>
<div class="alert alert-info" style="margin-left: 10px, margin-right: 10px;">
    <span style="font-size: 1.15rem;"><strong>Things to keep in mind: </strong></span>
    <ul>
        <br>
        <li><strong>WE HAVE SOMETHING FOR EVERYONE!</strong><br>The materials on this website will help improve your math skills whether you are a beginner or a math pro!</li>

        <br>
        <li><strong>MOBILE DEVICES</strong><br>This website also works great on all sorts of mobile devices: smartphones, iPads, tablets, and eReaders are welcome!</li>
    </ul>
</div>
